<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            harrypotter is wonderful series
        </h1>
        <a href="{% url 'storybooks:ican'}">click here to go ican</a>
        <a href="{% url 'storybooks:moon'}">click here to go moon</a>
        <a href="{% url 'storybooks:wings'}">click here to go wings</a>
    </center>
</body>
</html>