<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            ican is book written by apj
        </h1>
        <a href="{% url 'storybooks:moon'}">click here to go ican</a>
        <a href="{% url 'storybooks:wings'}">click here to go ican</a>
        <a href="{% url 'storybooks:harry'}">click here to go ican</a>

    </center>
</body>
</html>